extends ../layout.statistical.pug

block content
	style.
		.wrapper {
		display: grid;
		grid-template-columns: 0.5fr 2.5fr;
		}

		.header{
		grid-column: 1/3;
		}

		.left-header{
		grid-row: 2/3;
		}

		.header nav p {
		color: #FFF;
		}

		.left-header  h5 {
		padding: 5px;
		background-color: rgb(200, 200, 200);
		color: blue;
		}

		.left-header ul li {
		list-style: none;
		padding: 3px;
		color: #000;
		}

	.show-employees-predict
		h3 Thống kê phân nhóm kết quả dự báo
		table.table.mt-3
			thead
				tr
					th(scope='col') Group
					th(scope='col') Content
					th(scope='col') Count
					th(scope='col') Attrition
					th(scope='col') Action
			tbody
				tr
					td 1
					td AttritionRate < 0.5
					td 238
					td Thấp
					td 
						a.btn.btn-warning#view1(href="/predict/employees/group1") View
				tr
					td 2
					td 0.5 <= AttritionRate < 0.8
					td 90
					td Trung bình
					td 
						a.btn.btn-warning#view2(href="/predict/employees/group2") View
				tr
					td 3
					td AttritionRate >= 0.8
					td 40
					td Cao
					td 
						a.btn.btn-warning#view3(href="/predict/employees/group3") View
					
		
		h3 Chi tiết dự báo nhân viên nghỉ việc 					
		#table-pro-emp 
			table.table.mt-3
				thead
					tr
						th(scope='col') Id
						th(scope='col') Age
						th(scope='col') Department
						th(scope='col') Gender
						th(scope='col') JobRole
						th(scope='col') AttritionRate
						th(scope='col') Attrition
				each emp in empGroup3
					tbody
						tr
							td= emp.Id
							td= emp.Age
							td= emp.Department
							td= emp.Gender
							td= emp.JobRole
							td= emp.AttritionRate
							td= emp.Attrition	


		